In [46]:
import pandas as pd
df = pd.read_csv('cleaned_online_retail.csv',encoding = 'latin1')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [47]:
df['Quantity'].describe()

count    299540.000000
mean         10.394258
std         203.238326
min           1.000000
25%           2.000000
50%           4.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

In [48]:
df[df['Quantity']>1000]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
2920,536830,21915,RED HARMONICA IN BOX,1400,2010-12-02 17:38:00,1.06,16754.0,United Kingdom,1484.00
8581,537659,22189,CREAM HEART CARD HOLDER,1008,2010-12-07 16:43:00,2.31,18102.0,United Kingdom,2328.48
8582,537659,22188,BLACK HEART CARD HOLDER,1008,2010-12-07 16:43:00,2.31,18102.0,United Kingdom,2328.48
10355,537899,22328,ROUND SNACK BOXES SET OF 4 FRUITS,1488,2010-12-09 10:44:00,2.55,12755.0,Japan,3794.40
25331,540689,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1010,2011-01-11 08:43:00,3.24,17450.0,United Kingdom,3272.40
25332,540689,22469,HEART OF WICKER SMALL,1356,2011-01-11 08:43:00,1.93,17450.0,United Kingdom,2617.08
25333,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450.0,United Kingdom,4121.64
25754,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749.0,United Kingdom,4921.50
25755,540815,21175,GIN + TONIC DIET METAL SIGN,2000,2011-01-11 12:55:00,1.85,15749.0,United Kingdom,3700.00
25756,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749.0,United Kingdom,6539.40
25804,540818,47556B,TEA TIME TEA TOWELS,1300,2011-01-11 12:57:00,2.55,15749.0,United Kingdom,3315.00
29240,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.60
43782,543842,22693,GROW A FLYTRAP OR SUNFLOWER IN TIN,1056,2011-02-14 11:22:00,1.06,16333.0,United Kingdom,1119.36
63019,546789,85099B,JUMBO BAG RED RETROSPOT,1200,2011-03-17 10:17:00,1.65,15769.0,United Kingdom,1980.00
81417,549925,22693,GROW A FLYTRAP OR SUNFLOWER IN TIN,1056,2011-04-13 10:12:00,1.06,16333.0,United Kingdom,1119.36
85027,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749.0,United Kingdom,4632.00
85028,550461,47556B,TEA TIME TEA TOWELS,1300,2011-04-18 13:20:00,2.10,15749.0,United Kingdom,2730.00
85030,550461,21175,GIN + TONIC DIET METAL SIGN,2000,2011-04-18 13:20:00,1.69,15749.0,United Kingdom,3380.00
85031,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749.0,United Kingdom,6539.40
155814,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931.0,United Kingdom,4176.00
189136,567423,23286,BLUE VINTAGE SPOT BEAKER,1878,2011-09-20 11:05:00,1.08,17450.0,United Kingdom,2028.24
189137,567423,23288,GREEN VINTAGE SPOT BEAKER,1944,2011-09-20 11:05:00,1.08,17450.0,United Kingdom,2099.52
189138,567423,23285,PINK VINTAGE SPOT BEAKER,1944,2011-09-20 11:05:00,1.08,17450.0,United Kingdom,2099.52
189142,567423,22969,HOMEMADE JAM SCENTED CANDLES,1428,2011-09-20 11:05:00,1.70,17450.0,United Kingdom,2427.60
189145,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,7144.72
201764,569085,21098,CHRISTMAS TOILET ROLL,1200,2011-09-30 11:57:00,1.06,17949.0,United Kingdom,1272.00
205693,569492,21915,RED HARMONICA IN BOX,1540,2011-10-04 13:30:00,1.06,16333.0,United Kingdom,1632.40
210497,570094,20971,PINK BLUE FELT CRAFT TRINKET BOX,1296,2011-10-07 11:56:00,1.06,16029.0,United Kingdom,1373.76
210541,570097,20971,PINK BLUE FELT CRAFT TRINKET BOX,1296,2011-10-07 12:05:00,1.06,16029.0,United Kingdom,1373.76
214786,570557,20971,PINK BLUE FELT CRAFT TRINKET BOX,1296,2011-10-11 11:15:00,1.06,16029.0,United Kingdom,1373.76
233451,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646.0,Netherlands,4992.00
243119,574294,22086,PAPER CHAIN KIT 50'S CHRISTMAS,1020,2011-11-03 15:47:00,2.55,16333.0,United Kingdom,2601.00
243121,574294,21915,RED HARMONICA IN BOX,2100,2011-11-03 15:47:00,1.06,16333.0,United Kingdom,2226.00
251916,575335,84879,ASSORTED COLOUR BIRD ORNAMENT,1200,2011-11-09 13:56:00,1.45,12931.0,United Kingdom,1740.00
285413,579498,23084,RABBIT NIGHT LIGHT,2040,2011-11-29 15:52:00,1.79,12798.0,Japan,3651.60
289448,580243,21915,RED HARMONICA IN BOX,1120,2011-12-02 12:19:00,1.06,16333.0,United Kingdom,1187.20
290454,580363,23582,VINTAGE DOILY JUMBO BAG RED,1500,2011-12-02 16:32:00,1.79,13868.0,United Kingdom,2685.00
296376,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195.0,United Kingdom,3861.00
297131,581175,23084,RABBIT NIGHT LIGHT,1440,2011-12-07 15:16:00,1.79,14646.0,Netherlands,2577.60
299216,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.60

Explore >1000 Quantity records.

In [49]:
df[df['Quantity']<0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, TotalPrice]
Index: []

Check for negative Quantity. Not present.

In [50]:
df[df['UnitPrice']<0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, TotalPrice]
Index: []

Check for negative UnitPrice. Not present.

In [51]:
df.sort_values(by='UnitPrice', ascending=False).head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
120313,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.5,15098.0,United Kingdom,38970.0
120314,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.5,15098.0,United Kingdom,649.5
110671,554836,22655,VINTAGE RED KITCHEN CABINET,1,2011-05-26 16:25:00,295.0,13015.0,United Kingdom,295.0
69509,547814,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-25 14:19:00,295.0,13452.0,United Kingdom,295.0
40239,543253,22655,VINTAGE RED KITCHEN CABINET,1,2011-02-04 15:32:00,295.0,14842.0,United Kingdom,295.0
61001,546480,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-03-14 11:38:00,295.0,13452.0,United Kingdom,295.0
90147,551393,22656,VINTAGE BLUE KITCHEN CABINET,1,2011-04-28 12:22:00,295.0,14973.0,United Kingdom,295.0
25195,540647,22655,VINTAGE RED KITCHEN CABINET,1,2011-01-10 14:57:00,295.0,17406.0,United Kingdom,295.0
2956,536835,22655,VINTAGE RED KITCHEN CABINET,1,2010-12-02 18:06:00,295.0,13145.0,United Kingdom,295.0
17090,539080,22655,VINTAGE RED KITCHEN CABINET,1,2010-12-16 08:41:00,295.0,16607.0,United Kingdom,295.0

Check for unusually high prices. Max price is 649.5 which is fine.

In [52]:
df['Country'].value_counts()

Country
United Kingdom          267304
Germany                   6527
France                    6018
EIRE                      5643
Spain                     1917
Netherlands               1686
Belgium                   1440
Switzerland               1372
Portugal                  1086
Australia                  943
Norway                     813
Italy                      629
Channel Islands            616
Cyprus                     522
Finland                    470
Austria                    300
Denmark                    276
Poland                     270
Sweden                     266
Japan                      220
Israel                     174
Singapore                  160
Iceland                    139
USA                        131
Greece                     119
Canada                     100
Malta                       99
RSA                         54
United Arab Emirates        50
European Community          49
Lebanon                     43
Lithuania                   35
Brazil                      31
Bahrain                     17
Czech Republic              13
Saudi Arabia                 8
Name: count, dtype: int64

In [53]:
df['InvoiceDate'].min(), df['InvoiceDate'].max()

('2010-12-01 08:26:00', '2011-12-09 12:50:00')

In [54]:
df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(10)

CustomerID
18102.0    257518.90
14646.0    240080.31
17450.0    192076.59
16446.0    168472.50
14911.0    121882.00
12415.0    109984.21
14156.0    107403.59
17511.0     77796.46
12346.0     77183.60
16029.0     68196.09
Name: TotalPrice, dtype: float64

In [55]:
df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
count,299540.000000,299540,299540,299540.000000,299540,299540.000000,299540.000000,299540,299540.000000
unique,NaN,3046,3227,NaN,16861,NaN,NaN,36,NaN
top,NaN,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-11-14 15:27:00,NaN,NaN,United Kingdom,NaN
freq,NaN,2023,2016,NaN,488,NaN,NaN,267304,NaN
mean,560324.609842,NaN,NaN,10.394258,NaN,3.590112,15301.159521,NaN,25.702443
std,13159.629916,NaN,NaN,203.238326,NaN,4.785010,1707.081086,NaN,354.777718
min,536365.000000,NaN,NaN,1.000000,NaN,1.000000,12346.000000,NaN,1.000000
25%,548712.000000,NaN,NaN,2.000000,NaN,1.650000,13985.000000,NaN,5.900000
50%,561507.000000,NaN,NaN,4.000000,NaN,2.460000,15157.000000,NaN,15.000000
75%,571883.000000,NaN,NaN,10.000000,NaN,4.250000,16804.000000,NaN,20.235000
max,581587.000000,NaN,NaN,80995.000000,NaN,649.500000,18287.000000,NaN,168469.600000